<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Play a Game?</title>
  </head>

  <body>
    <h3>Let's play a game!</h3>

    <h2>Letters: {{#letters}}{{{markup}}} {{/letters}}</h2>

    <h3>Guesses remaining: {{ guessesLeft }}</h3>
    <h3>
      <p>Guesses: {{#guesses}}{{.}} {{/guesses}}</p>
      <p>This is the word: {{randomWord}}</p>
    </h3>
    <form action="/" method="post">
      <input type="text" name="guess" placeholder="type a guess">
      <button type="submit">Click to guess!</button>
    </form>
  </body>

</html>
